In [3]:
import pandas as pd
data = {"字串":["台北", "台中"],
        "整數":[1000, 3000],
        "浮點數":[3.258, 7.396]}

df = pd.DataFrame(data)
display(df)

   字串    整數    浮點數
0  台北  1000  3.258
1  台中  3000  7.396

In [4]:
#視覺美化資料表
#pip install jinja2
df.style\
.format(precision=2,thousands=",",decimal=".")\
.relabel_index(["列1","列2"])

In [5]:
import numpy as np
data = np.random.rand(10,2) * 5
df = pd.DataFrame(data,
                  index = pd.date_range(start="2023-09-01",periods=10),
                  columns=["台北","台中"]
                  )
df

                  台北        台中
2023-09-01  0.112301  3.771873
2023-09-02  1.319694  4.679133
2023-09-03  1.124464  1.409098
2023-09-04  1.565393  2.725687
2023-09-05  4.626591  1.525138
2023-09-06  2.926016  4.876927
2023-09-07  0.239630  3.640679
2023-09-08  2.016265  3.158368
2023-09-09  2.201014  0.126030
2023-09-10  2.162558  4.812659

In [6]:
#視覺美化資料表
def feel_condition(v):
    if v < 1.75:
        return "溫暖"
    elif v < 2.75:
        return "潮溼"
    else:
        return "日照"
    
df.style\
.format(feel_condition)\
.set_caption("體感溫度")\
.background_gradient(cmap="PuBuGn",vmin=1,vmax=5,axis=None)

In [7]:
#隱藏資料
df = pd.DataFrame(np.random.randn(5,5))
df.style\
.hide(subset=[0, 2, 4],axis=0)\
.hide(subset=[1,3],axis=1)

In [8]:
df = pd.DataFrame(np.random.randn(10,4),
             columns=["A", "B", "C", "D"])
display(df)

def style_negative(v, props=''):
    return props if v < 0 else None

df.style\
.map(style_negative,props='color:red;')

          A         B         C         D
0 -0.141269 -1.913170 -0.118287  0.129955
1  0.553204  1.609483 -0.615517 -0.041524
2  0.011620  2.429812 -0.508310  0.714850
3 -0.270485  1.616712  0.469772 -0.991215
4  1.558983  1.644725  1.566035  1.347889
5 -0.756450 -0.417384 -0.296340 -0.257459
6  0.154251  0.862215 -1.660832 -0.040017
7  0.465074  0.317131 -0.919276  1.490211
8  0.326436  0.057303 -0.369710  0.142607
9 -0.092879 -1.047611 -0.851693  0.631548